In [1]:
import pandas as pd

In [2]:
db_ref = pd.read_csv('tmdb_5000_movies.csv').sample(100)

In [3]:
db_ref

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,Genres
2324,16500000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",NaN,816,"[{""id"": 803, ""name"": ""android""}, {""id"": 1568, ...",en,Austin Powers: International Man of Mystery,As a swingin' fashion photographer by day and ...,36.157160,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,1997-05-02,67683989,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"If he were any cooler, he'd still be frozen, b...",Austin Powers: International Man of Mystery,6.5,1013,"['Science Fiction', 'Comedy', 'Crime']"
3284,8000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",NaN,13072,[],en,Brooklyn Rules,"Brooklyn, 1985. With the mob world as a backdr...",4.090382,"[{""name"": ""City Light Films"", ""id"": 136}]",...,2007-04-30,458232,99.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Not made to be broken,Brooklyn Rules,5.8,18,"['Drama', 'Action', 'Thriller']"
1233,40000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,10060,"[{""id"": 936, ""name"": ""loss of mother""}, {""id"":...",en,Get Rich or Die Tryin',A tale of an inner city drug dealer who turns ...,12.885985,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,2005-11-09,46442528,117.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,If You Think You Know the Story...You Don't Kn...,Get Rich or Die Tryin',6.3,186,['Drama']
2239,20000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",NaN,10740,"[{""id"": 4549, ""name"": ""loss of husband""}, {""id...",en,Birth,It took Anna 10 years to recover from the deat...,7.698075,"[{""name"": ""Fine Line Features"", ""id"": 8}, {""na...",...,2004-09-08,0,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Be careful what you wish for.,Birth,5.9,179,"['Drama', 'Mystery', 'Thriller']"
1754,27000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...",NaN,10188,"[{""id"": 5248, ""name"": ""female friendship""}, {""...",en,The Sisterhood of the Traveling Pants 2,Four young women continue the journey toward a...,11.870301,[],...,2008-08-06,44352417,117.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some friends just fit together.,The Sisterhood of the Traveling Pants 2,6.0,238,"['Adventure', 'Comedy', 'Drama', 'Family']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4683,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,5759,"[{""id"": 171993, ""name"": ""mumblecore""}, {""id"": ...",en,Baghead,Four actors go to a cabin in the woods to writ...,3.299345,"[{""name"": ""Duplass Brothers Productions"", ""id""...",...,2008-01-21,0,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Baghead,5.8,23,"['Drama', 'Comedy', 'Horror']"
2191,20000000,"[{""id"": 99, ""name"": ""Documentary""}]",http://www.capitalismalovestory.com/,22074,"[{""id"": 279, ""name"": ""usa""}, {""id"": 592, ""name...",en,Capitalism: A Love Story,Michael Moore's Capitalism: A Love Story comes...,10.500980,"[{""name"": ""The Weinstein Company"", ""id"": 308},...",...,2009-09-06,17436509,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"Ask not what your C.E.O. can do for you, but w...",Capitalism: A Love Story,7.0,167,['Documentary']
4062,2100000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",NaN,887,"[{""id"": 279, ""name"": ""usa""}, {""id"": 447, ""name...",en,The Best Years of Our Lives,It's the hope that sustains the spirit of ever...,8.387170,"[{""name"": ""Samuel Goldwyn Company, The"", ""id"":...",...,1946-12-25,23650000,172.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Three wonderful loves in the best picture of t...,The Best Years of Our Lives,7.6,143,"['Drama', 'History', 'Romance']"
2293,20000000,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 27, ""...",NaN,29427,"[{""id"": 321, ""name"": ""terror""}, {""id"": 1865, ""...",en,The Crazies,Four friends find themselves trapped in their ...,28.867568,"[{""name"": ""Penn Station Entertainment"", ""id"": ...",...,2010-02-26,54956140,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fear Thy Neighbor,The Crazies,6.2,633,"['Mystery', 'Horror', 'Action']"
3357,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://robzombie.com/movies/the-devils-rejects/,1696,"[{""id"": 625, ""name"": ""sadistic""}, {""id"": 627, ...",en,The Devil's Rejects,The sequel to House of 1000 Corpses – the Fire...,16.754452,"[{""name"": ""Lions Gate Films"", ""id"": 35}, {""nam...",...,2005-07-22,0,107.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,Death walks behind. Hell waits ahead.,The Devil's Rejects,6.6,322,"['Drama', 'Horror', 'Crime']"

In [4]:
import ast
db_ref["Genres"] = [ast.literal_eval(i) for i in db_ref["Genres"]]

In [5]:
db_ref['Genres']

2324      [Science Fiction, Comedy, Crime]
3284             [Drama, Action, Thriller]
1233                               [Drama]
2239            [Drama, Mystery, Thriller]
1754    [Adventure, Comedy, Drama, Family]
                       ...
4683               [Drama, Comedy, Horror]
2191                         [Documentary]
4062             [Drama, History, Romance]
2293             [Mystery, Horror, Action]
3357                [Drama, Horror, Crime]
Name: Genres, Length: 100, dtype: object

In [6]:
data , name , genres = {} , [] , []
for i in db_ref.index:
  data[db_ref.loc[i, "title"]] = db_ref.loc[i, "Genres"]
  name.append(db_ref.loc[i, "title"])
  genres.append(db_ref.loc[i, "Genres"])

In [7]:
genres = set(item for sublist in genres for item in sublist)

In [8]:
print(genres)
print(len(genres))

{'Comedy', 'Fantasy', 'Mystery', 'War', 'Crime', 'Documentary', 'Music', 'Foreign', 'Drama', 'Science Fiction', 'Thriller', 'History', 'Family', 'Romance', 'Horror', 'Animation', 'Action', 'Adventure', 'Western'}
19

In [9]:
print(len(name))

100

In [10]:
for k,v in data.items() :
  for i in v : 
    print(f"{k} => {i}")

Austin Powers: International Man of Mystery => Science Fiction
Austin Powers: International Man of Mystery => Comedy
Austin Powers: International Man of Mystery => Crime
Brooklyn Rules => Drama
Brooklyn Rules => Action
Brooklyn Rules => Thriller
Get Rich or Die Tryin' => Drama
Birth => Drama
Birth => Mystery
Birth => Thriller
The Sisterhood of the Traveling Pants 2 => Adventure
The Sisterhood of the Traveling Pants 2 => Comedy
The Sisterhood of the Traveling Pants 2 => Drama
The Sisterhood of the Traveling Pants 2 => Family
Escape from the Planet of the Apes => Action
Escape from the Planet of the Apes => Science Fiction
The Rundown => Adventure
The Rundown => Action
The Rundown => Comedy
The Rundown => Thriller
Blue Streak => Action
Blue Streak => Comedy
Blue Streak => Crime
Taken 2 => Action
Taken 2 => Crime
Taken 2 => Thriller
The Beast from 20,000 Fathoms => Adventure
The Beast from 20,000 Fathoms => Horror
The Beast from 20,000 Fathoms => Science Fiction
Marmaduke => Family
Marmaduke => Comedy
The Ghastly Love of Johnny X => Comedy
The Ghastly Love of Johnny X => Fantasy
The Ghastly Love of Johnny X => Music
On The Downlow => Drama
Agent Cody Banks 2: Destination London => Comedy
Eden Lake => Horror
Eden Lake => Thriller
Reign of Fire => Adventure
Reign of Fire => Action
Reign of Fire => Fantasy
Resident Evil: Afterlife => Action
Resident Evil: Afterlife => Adventure
Resident Evil: Afterlife => Horror
Resident Evil: Afterlife => Science Fiction
Mongol: The Rise of Genghis Khan => History
The Chumscrubber => Comedy
The Chumscrubber => Drama
The International => Drama
The International => Thriller
The International => Crime
Anchorman: The Legend of Ron Burgundy => Comedy
A Scanner Darkly => Animation
A Scanner Darkly => Science Fiction
A Scanner Darkly => Thriller
Rio => Animation
Rio => Adventure
Rio => Comedy
Rio => Family
Silent Trigger => Drama
Silent Trigger => Action
Silent Trigger => Thriller
The Emperor's Club => Drama
The Emperor's Club => Romance
It's a Mad, Mad, Mad, Mad World => Action
It's a Mad, Mad, Mad, Mad World => Adventure
It's a Mad, Mad, Mad, Mad World => Comedy
It's a Mad, Mad, Mad, Mad World => Crime
Office Space => Comedy
Office Space => Crime
Fortress => Action
Fortress => Thriller
Fortress => Science Fiction
In the Shadow of the Moon => Documentary
Superman IV: The Quest for Peace => Action
Superman IV: The Quest for Peace => Adventure
Superman IV: The Quest for Peace => Science Fiction
DOA: Dead or Alive => Adventure
DOA: Dead or Alive => Action
DOA: Dead or Alive => Thriller
Unsullied => Thriller
Unsullied => Action
Unsullied => Horror
My Soul to Take => Drama
My Soul to Take => Horror
My Soul to Take => Mystery
My Soul to Take => Thriller
EuroTrip => Comedy
It's Complicated => Comedy
It's Complicated => Romance
Chicken Run => Animation
Chicken Run => Comedy
Chicken Run => Family
A Streetcar Named Desire => Drama
Still Alice => Drama
Taxi to the Dark Side => Documentary
Crazy, Stupid, Love. => Comedy
Crazy, Stupid, Love. => Drama
Crazy, Stupid, Love. => Romance
Urbania => Romance
Urbania => Drama
Crank: High Voltage => Action
Crank: High Voltage => Thriller
Crank: High Voltage => Crime
Wanted => Action
Wanted => Thriller
Wanted => Crime
Close Encounters of the Third Kind => Science Fiction
Close Encounters of the Third Kind => Drama
Star Trek V: The Final Frontier => Science Fiction
Star Trek V: The Final Frontier => Action
Star Trek V: The Final Frontier => Adventure
Star Trek V: The Final Frontier => Thriller
The Long Riders => Western
The Long Riders => History
Old School => Comedy
Life During Wartime => Comedy
Life During Wartime => Drama
Land of the Lost => Adventure
Land of the Lost => Comedy
Land of the Lost => Science Fiction
The Italian Job => Action
The Italian Job => Crime
Amnesiac => Thriller
Amnesiac => Mystery
Amnesiac => Drama
Amnesiac => Horror
Mean Creek => Crime
Mean Creek => Drama
Nine => Drama
Nine => Music
Nine => Romance
8 Days => Thriller
8 Days => Drama
King's Ransom => Comedy
King's Ransom => Crime
Night at the Museum: Battle of the Smithsonian => Adventure
Night at the Museum: Battle of the Smithsonian => Fantasy
Night at the Museum: Battle of the Smithsonian => Action
Night at the Museum: Battle of the Smithsonian => Comedy
Night at the Museum: Battle of the Smithsonian => Family
Dead Snow => Horror
Dead Snow => Comedy
Hardflip => Drama
Hardflip => Action
200 Cigarettes => Comedy
200 Cigarettes => Drama
200 Cigarettes => Romance
The Island => Action
The Island => Thriller
The Island => Science Fiction
The Island => Adventure
Fighting Tommy Riley => Action
Fighting Tommy Riley => Adventure
Fighting Tommy Riley => Drama
The Ring Two => Drama
The Ring Two => Horror
The Ring Two => Thriller
Night Watch => Fantasy
Night Watch => Action
Night Watch => Thriller
Edward Scissorhands => Fantasy
Edward Scissorhands => Drama
Edward Scissorhands => Romance
Dangerous Liaisons => Drama
Dangerous Liaisons => Romance
A Good Day to Die Hard => Action
A Good Day to Die Hard => Thriller
Love and Death on Long Island => Drama
Love and Death on Long Island => Romance
Love and Death on Long Island => Foreign
Nomad: The Warrior => Action
Nomad: The Warrior => History
Nomad: The Warrior => War
Catch That Kid => Family
Catch That Kid => Action
Catch That Kid => Adventure
Frailty => Drama
Frailty => Thriller
Frailty => Crime
Patch Adams => Comedy
Patch Adams => Drama
The Believer => Drama
Saving Face => Comedy
Saving Face => Romance
Battle: Los Angeles => Action
Battle: Los Angeles => Science Fiction
Dil Jo Bhi Kahey... => Romance
The Wolf of Wall Street => Crime
The Wolf of Wall Street => Drama
The Wolf of Wall Street => Comedy
Hellboy II: The Golden Army => Adventure
Hellboy II: The Golden Army => Fantasy
Hellboy II: The Golden Army => Science Fiction
Boomerang => Comedy
Boomerang => Romance
Aquamarine => Fantasy
Aquamarine => Romance
Aquamarine => Family
Aquamarine => Comedy
Inside Out => Drama
Inside Out => Comedy
Inside Out => Animation
Inside Out => Family
Some Like It Hot => Comedy
Some Like It Hot => Romance
Repo Men => Action
Repo Men => Science Fiction
Repo Men => Thriller
Repo Men => Crime
Black Water Transit => Drama
Black Water Transit => Crime
Criminal => Action
The Inhabited Island => Action
The Inhabited Island => Fantasy
The Inhabited Island => Science Fiction
The Inhabited Island => Thriller
New Year's Eve => Comedy
New Year's Eve => Romance
Nacho Libre => Comedy
Nacho Libre => Family
To Save A Life => Drama
The Last Shot => Action
The Last Shot => Comedy
Dolphins and Whales: Tribes of the Ocean => Documentary
Simon Birch => Comedy
Simon Birch => Drama
Simon Birch => Family
Despicable Me => Animation
Despicable Me => Family
Kiss the Girls => Drama
Kiss the Girls => Mystery
Kiss the Girls => Thriller
Kiss the Girls => Crime
Mr. Turner => History
Mr. Turner => Drama
Loose Cannons => Comedy
Loose Cannons => Drama
Loose Cannons => Romance
Baghead => Drama
Baghead => Comedy
Baghead => Horror
Capitalism: A Love Story => Documentary
The Best Years of Our Lives => Drama
The Best Years of Our Lives => History
The Best Years of Our Lives => Romance
The Crazies => Mystery
The Crazies => Horror
The Crazies => Action
The Devil's Rejects => Drama
The Devil's Rejects => Horror
The Devil's Rejects => Crime

In [11]:
classification_db:dict = dict()
for i in db_ref.index:
  db_extract = db_ref.loc[i]
  classification_db[str(i)] = db_extract['Genres']

In [12]:
classification_db

{'2324': ['Science Fiction', 'Comedy', 'Crime'],
 '3284': ['Drama', 'Action', 'Thriller'],
 '1233': ['Drama'],
 '2239': ['Drama', 'Mystery', 'Thriller'],
 '1754': ['Adventure', 'Comedy', 'Drama', 'Family'],
 '4012': ['Action', 'Science Fiction'],
 '402': ['Adventure', 'Action', 'Comedy', 'Thriller'],
 '1339': ['Action', 'Comedy', 'Crime'],
 '1041': ['Action', 'Crime', 'Thriller'],
 '4669': ['Adventure', 'Horror', 'Science Fiction'],
 '966': ['Family', 'Comedy'],
 '4149': ['Comedy', 'Fantasy', 'Music'],
 '4793': ['Drama'],
 '1797': ['Comedy'],
 '4132': ['Horror', 'Thriller'],
 '746': ['Adventure', 'Action', 'Fantasy'],
 '799': ['Action', 'Adventure', 'Horror', 'Science Fiction'],
 '2370': ['History'],
 '3411': ['Comedy', 'Drama'],
 '975': ['Drama', 'Thriller', 'Crime'],
 '1846': ['Comedy'],
 '2235': ['Animation', 'Science Fiction', 'Thriller'],
 '374': ['Animation', 'Adventure', 'Comedy', 'Family'],
 '2646': ['Drama', 'Action', 'Thriller'],
 '2789': ['Drama', 'Romance'],
 '3148': ['Action', 'Adventure', 'Comedy', 'Crime'],
 '3045': ['Comedy', 'Crime'],
 '2868': ['Action', 'Thriller', 'Science Fiction'],
 '4108': ['Documentary'],
 '2433': ['Action', 'Adventure', 'Science Fiction'],
 '1670': ['Adventure', 'Action', 'Thriller'],
 '4233': ['Thriller', 'Action', 'Horror'],
 '1905': ['Drama', 'Horror', 'Mystery', 'Thriller'],
 '1896': ['Comedy'],
 '397': ['Comedy', 'Romance'],
 '1121': ['Animation', 'Comedy', 'Family'],
 '4172': ['Drama'],
 '3589': ['Drama'],
 '4382': ['Documentary'],
 '925': ['Comedy', 'Drama', 'Romance'],
 '4667': ['Romance', 'Drama'],
 '2200': ['Action', 'Thriller', 'Crime'],
 '512': ['Action', 'Thriller', 'Crime'],
 '2087': ['Science Fiction', 'Drama'],
 '1583': ['Science Fiction', 'Action', 'Adventure', 'Thriller'],
 '3032': ['Western', 'History'],
 '1966': ['Comedy'],
 '3710': ['Comedy', 'Drama'],
 '306': ['Adventure', 'Comedy', 'Science Fiction'],
 '702': ['Action', 'Crime'],
 '3978': ['Thriller', 'Mystery', 'Drama', 'Horror'],
 '4528': ['Crime', 'Drama'],
 '482': ['Drama', 'Music', 'Romance'],
 '4051': ['Thriller', 'Drama'],
 '1937': ['Comedy', 'Crime'],
 '121': ['Adventure', 'Fantasy', 'Action', 'Comedy', 'Family'],
 '4464': ['Horror', 'Comedy'],
 '4388': ['Drama', 'Action'],
 '3473': ['Comedy', 'Drama', 'Romance'],
 '271': ['Action', 'Thriller', 'Science Fiction', 'Adventure'],
 '4620': ['Action', 'Adventure', 'Drama'],
 '924': ['Drama', 'Horror', 'Thriller'],
 '3733': ['Fantasy', 'Action', 'Thriller'],
 '2108': ['Fantasy', 'Drama', 'Romance'],
 '1957': ['Drama', 'Romance'],
 '337': ['Action', 'Thriller'],
 '3732': ['Drama', 'Romance', 'Foreign'],
 '1285': ['Action', 'History', 'War'],
 '2352': ['Family', 'Action', 'Adventure'],
 '2941': ['Drama', 'Thriller', 'Crime'],
 '905': ['Comedy', 'Drama'],
 '4231': ['Drama'],
 '4020': ['Comedy', 'Romance'],
 '582': ['Action', 'Science Fiction'],
 '4210': ['Romance'],
 '298': ['Crime', 'Drama', 'Comedy'],
 '420': ['Adventure', 'Fantasy', 'Science Fiction'],
 '1123': ['Comedy', 'Romance'],
 '2846': ['Fantasy', 'Romance', 'Family', 'Comedy'],
 '77': ['Drama', 'Comedy', 'Animation', 'Family'],
 '3984': ['Comedy', 'Romance'],
 '1517': ['Action', 'Science Fiction', 'Thriller', 'Crime'],
 '1464': ['Drama', 'Crime'],
 '1528': ['Action'],
 '1341': ['Action', 'Fantasy', 'Science Fiction', 'Thriller'],
 '1798': ['Comedy', 'Romance'],
 '1498': ['Comedy', 'Family'],
 '4519': ['Drama'],
 '1288': ['Action', 'Comedy'],
 '3471': ['Documentary'],
 '2176': ['Comedy', 'Drama', 'Family'],
 '614': ['Animation', 'Family'],
 '1752': ['Drama', 'Mystery', 'Thriller', 'Crime'],
 '2709': ['History', 'Drama'],
 '3164': ['Comedy', 'Drama', 'Romance'],
 '4683': ['Drama', 'Comedy', 'Horror'],
 '2191': ['Documentary'],
 '4062': ['Drama', 'History', 'Romance'],
 '2293': ['Mystery', 'Horror', 'Action'],
 '3357': ['Drama', 'Horror', 'Crime']}

In [13]:
transaction_db:dict = dict()
for i in classification_db:
  transaction_db[i] = { genre: genre in classification_db[i] for genre in genres }

In [14]:
transaction_db = pd.DataFrame(transaction_db).transpose()
transaction_db

,Comedy,Fantasy,Mystery,War,Crime,Documentary,Music,Foreign,Drama,Science Fiction,Thriller,History,Family,Romance,Horror,Animation,Action,Adventure,Western
2324,True,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3284,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,False
1233,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2239,False,False,True,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False
1754,True,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4683,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False
2191,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4062,False,False,False,False,False,False,False,False,True,False,False,True,False,True,False,False,False,False,False
2293,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
3357,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False

In [28]:
import miners

miner = miners.AssociationRuleMiner(support_threshold="100%", confidence_threshold="0%")

In [17]:
import importlib
importlib.reload(miners)

In [29]:
associations = miner.apriori(transaction_table=transaction_db)
associations

with support: 100.0%
with confidence: 0.0%
single element frequencies found. Discarding results (support too high)

{}